<div class="panel panel-warning">
  <div class="panel-heading">
      <h3>User Settings - {{vm.user.username}}</h3>
  </div>
      TBD
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
      <h3>Danger Zone (dont dont if you dont know what to do!)</h3>
  </div>
      <button type="button" ng-click="vm.deleteUseCases()" class="btn btn-danger">Delete all Use Cases</button>
      <button type="button" ng-click="resetUseCasesCounter()" class="btn btn-danger">Reset Use Cases counter</button>
</div>
